
<div class="card">
  <h5 class="card-header">{{'DASHBOARD.MY_ACTIVE_INTERNSHIPS' | translate}}</h5>

  <div class="card-body">
    <p *ngIf="internships && internships.length == 0 else showInternships">{{'DASHBOARD.NO_INTERNSHIPS_FOUND' | translate}}, <a class="redirect-link" routerLink="/dashboard/add-internship">{{'COMMON.CREATE_NEW_INTERNSHIP' | translate}}</a></p>

    <ng-template #showInternships>
      <div *ngFor="let internship of internships | paginate: { itemsPerPage: 2, currentPage: pageNumber }">
        <div class="item mb-5">
          <div class="row">
            <div class="col-12">
              <p class="title-field">{{internship.title}}</p>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-12 col-lg-6 col-xl-4">
                <label>{{'INTERNSHIP.START' | translate}}: <span>{{internship.startDate | date:'fullDate'}}</span></label>
            </div>

            <div class="col-12 col-lg-6 col-xl-4">
              <label>{{'INTERNSHIP.DURATION' | translate}}: <span>{{ getDurationLabel(internship.duration, internship.durationUnit) }}</span></label>
            </div>

            <div class="col-12 col-lg-6 col-xl-4">
              <label>{{'INTERNSHIP.STATUS' | translate}}: <span class="badge badge-info">{{internship.status | translate}}</span></label>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-12 col-md-6 col-lg-4">
              <label class="mr-2">{{'INTERNSHIP.INTERNSHIP_TYPE' | translate}}: <span class="badge badge-info">{{internship.type | translate}}</span></label>
            </div>
            <div *ngIf="internship.type === 'PAID'" class="col-12 col-md-6 col-lg-4">
              <div class="salary-field">
                <label class="mr-2">{{'INTERNSHIP.SALARY' | translate}}:</label>
                <p class="field">{{internship.salary}} {{internship.currency}}</p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <label class="mr-2">{{'INTERNSHIP.NUMBER_OF_STUDENTS' | translate}}:</label>
              <p class="field">{{internship.numberOfAssignedStudents}}/{{internship.maxNumberOfStudents}}</p>
            </div>
          </div>
      
          <div class="row mb-2">
            <div class="col-12">
              <label>{{'INTERNSHIP.DETAILS' | translate}}:</label>
              <p>{{internship.description}}</p>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-12">
              <div class="d-block w-100 button-wrapper">
                <span class="float-left mr-4" (click)="openEditModal(editInternshipModal, internship.trackingNumber)"><i class="fa fa-pencil-square-o"></i></span>
                <span class="float-left mr-4" (click)="openDeleteModal(deleteInternshipModal, internship.trackingNumber)"><i class="fa fa-trash"></i></span>
                <div class="d-inline-block buttons-block">
                  <button class="btn btn-primary mr-3" routerLink="/dashboard/assigned-interns/{{internship.trackingNumber}}">{{'DASHBOARD.ASSIGNED_INTERNS' | translate}}</button>
                  <button class="btn btn-primary" (click)="openFinishModal(finishInternshipModal, internship.trackingNumber)">{{'DASHBOARD.FINISH_INTERNSHIP' | translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <pagination-controls (pageChange)="pageNumber = $event" 
          previousLabel="" nextLabel="" maxSize="5"></pagination-controls>
      </div>
    </ng-template>
  </div>
</div>

<ng-template #editInternshipModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'DASHBOARD.EDIT_INTERNSHIP' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="internshipForm">
      <div class="col-12 col-lg-6 d-inline-block align-top">
        <div class="form-group">
          <label *ngIf="!isInvalidFormControl(internshipForm, 'title')">{{'INTERNSHIP.TITLE' | translate}}:</label>

          <div *ngIf="isInvalidFormControl(internshipForm, 'title')">
            <label class="error-message" *ngIf="internshipForm.controls['title'].errors.required">{{'VALIDATION.TITLE_REQUIRED' | translate}}</label>
          </div>

          <input [ngStyle]="isInvalidFormControl(internshipForm, 'title') && {'border-color': '#ff0000'}" type="text"
            class="form-control" placeholder="{{'PLACEHOLDER.ENTER_TITLE' | translate}}" formControlName="title">
        </div>

        <div class="form-group">
          <label *ngIf="!isInvalidFormControl(internshipForm, 'description')">{{'INTERNSHIP.DETAILS' | translate}}:</label>

          <div *ngIf="isInvalidFormControl(internshipForm, 'description')" >
            <label class="error-message" *ngIf="internshipForm.controls['description'].errors.required">{{'VALIDATION.DETAILS_REQUIRED' | translate}}</label>
          </div>

          <textarea [ngStyle]="isInvalidFormControl(internshipForm, 'description') && {'border-color': '#ff0000'}" rows="10"
            class="form-control" placeholder="{{'PLACEHOLDER.ENTER_DETAILS' | translate}}" formControlName="description"></textarea>
        </div>
      </div>
      <div class="col-12 col-lg-6 d-inline-block align-top">
        <div class="form-group">
          <label *ngIf="!isInvalidFormControl(internshipForm, 'startDate')">{{'INTERNSHIP.START' | translate}}:</label>

          <div *ngIf="isInvalidFormControl(internshipForm, 'startDate')" >
            <label class="error-message" *ngIf="internshipForm.controls['startDate'].errors.required">{{'VALIDATION.START_REQUIRED' | translate}}</label>
          </div>

          <input [ngStyle]="isInvalidFormControl(internshipForm, 'startDate') && {'border-color': '#ff0000'}" type="text" 
            class="form-control mb-3" placeholder="Datepicker" bsDatepicker formControlName="startDate" value="{{internshipForm.get('startDate').value | date: 'MM/dd/yyyy'}}"/>
        </div>

        <div class="form-group">
          <label *ngIf="!isInvalidFormControl(internshipForm, 'maxNumberOfStudents')">{{'INTERNSHIP.MAX_STUDENTS' | translate}}:</label>

          <div *ngIf="isInvalidFormControl(internshipForm, 'maxNumberOfStudents')">
            <label class="error-message" *ngIf="internshipForm.controls['maxNumberOfStudents'].errors.required">{{'VALIDATION.MAX_STUDENTS_REQUIRED' | translate}}</label>
          </div>

          <input [ngStyle]="isInvalidFormControl(internshipForm, 'maxNumberOfStudents') && {'border-color': '#ff0000'}" type="number"
            class="form-control" placeholder="{{'PLACEHOLDER.ENTER_MAX_STUDENTS' | translate}}" formControlName="maxNumberOfStudents">
        </div>

        <div class="form-group">
          <div class="col-12 col-lg-6 p-0 left-item d-inline-block">
            <div class="form-group">
              <label *ngIf="!isInvalidFormControl(internshipForm, 'duration')">{{'INTERNSHIP.DURATION' | translate}}:</label>
  
              <div *ngIf="isInvalidFormControl(internshipForm, 'duration')">
                <label class="error-message" *ngIf="internshipForm.controls['duration'].errors.required">{{'VALIDATION.DURATION_REQUIRED' | translate}}</label>
              </div>
  
              <input [ngStyle]="isInvalidFormControl(internshipForm, 'duration') && {'border-color': '#ff0000'}" type="number"
                class="form-control" placeholder="{{'PLACEHOLDER.ENTER_DURATION' | translate}}" formControlName="duration">
            </div>
          </div>
          <div class="col-12 col-lg-6 p-0 d-inline-block">
            <div class="form-group">
              <label class="mr-3">{{'INTERNSHIP.DURATION_UNIT' | translate}}</label>

              <div class="btn-group" btnRadioGroup formControlName="durationUnit">
                <label [ngClass]="{ active: internshipForm.get('durationUnit').value === 'WEEK'}" btnRadio="WEEK" class="radio-button mr-2" tabindex="0" role="button">{{'INTERNSHIP.WEEK' | translate}}</label>
                <label [ngClass]="{ active: internshipForm.get('durationUnit').value === 'MONTH'}" btnRadio="MONTH" class="radio-button" tabindex="0" role="button">{{'INTERNSHIP.MONTH' | translate}}</label>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="mr-3">{{'INTERNSHIP.INTERNSHIP_TYPE' | translate}}:</label>

          <div class="btn-group" btnRadioGroup formControlName="type">
            <label [ngClass]="{ active: internshipForm.get('type').value === 'PAID'}" btnRadio="PAID" class="radio-button mr-2" tabindex="0" role="button">{{'INTERNSHIP.PAID' | translate}}</label>
            <label [ngClass]="{ active: internshipForm.get('type').value === 'UNPAID'}" btnRadio="UNPAID" class="radio-button" tabindex="0" role="button">{{'INTERNSHIP.UNPAID' | translate}}</label>
          </div>
        </div>

        <div *ngIf="internshipForm.get('type').value === 'PAID'">
          <div class="col-12 col-lg-6 p-0 left-item d-inline-block">
            <div class="form-group">
              <label *ngIf="!isInvalidFormControl(internshipForm, 'salary')">{{'INTERNSHIP.SALARY' | translate}}:</label>
  
              <div *ngIf="isInvalidFormControl(internshipForm, 'salary')">
                <label class="error-message" *ngIf="internshipForm.controls['salary'].errors.required">{{'VALIDATION.SALARY_REQUIRED' | translate}}</label>
              </div>
  
              <input [ngStyle]="isInvalidFormControl(internshipForm, 'salary') && {'border-color': '#ff0000'}" type="number"
                class="form-control" placeholder="{{'PLACEHOLDER.ENTER_SALARY' | translate}}" formControlName="salary">
            </div>
          </div>
          <div class="col-12 col-lg-6 p-0 d-inline-block">
            <div class="btn-group" btnRadioGroup formControlName="currency">
              <label [ngClass]="{ active: internshipForm.get('currency').value === 'BGN'}" btnRadio="BGN" class="radio-button mr-2" tabindex="0" role="button">BGN</label>
              <label [ngClass]="{ active: internshipForm.get('currency').value === 'EUR'}" btnRadio="EUR" class="radio-button" tabindex="0" role="button">EUR</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="mr-3">{{'INTERNSHIP.STATUS' | translate}}:</label>

          <div class="btn-group" btnRadioGroup formControlName="status">
            <label [ngClass]="{ active: internshipForm.get('status').value === 'ACTIVE'}" btnRadio="ACTIVE" class="radio-button mr-2" tabindex="0" role="button">{{'INTERNSHIP.ACTIVE' | translate}}</label>
            <label [ngClass]="{ active: internshipForm.get('status').value === 'FINISHED'}" btnRadio="FINISHED" class="radio-button" tabindex="0" role="button">{{'INTERNSHIP.FINISHED' | translate}}</label>
          </div>
        </div>

      </div>
    </form>
    
    <div class="col-12 mt-2">
      <button class="btn btn-primary float-right" (click)="editInternship()" [disabled]="!checkFormValid()">{{'COMMON.EDIT' | translate}}</button>
    </div>
  </div>
</ng-template>

<ng-template #deleteInternshipModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'COMMON.ARE_YOU_SURE' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body d-inline-flex m-auto">
    <button class="btn btn-danger btn-short mr-3" (click)="modalRef.hide()">{{'COMMON.NO' | translate}}</button>
    <button class="btn btn-primary btn-short" (click)="deleteInternship()">{{'COMMON.YES' | translate}}</button>
  </div>
</ng-template>


<ng-template #finishInternshipModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'DASHBOARD.FINISH_INTERNSHIP' | translate}}:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body d-inline-flex m-auto">
    <button class="btn btn-danger btn-short mr-3" (click)="modalRef.hide()">{{'COMMON.NO' | translate}}</button>
    <button class="btn btn-primary btn-short" (click)="finishInternship()">{{'COMMON.YES' | translate}}</button>
  </div>
</ng-template>
