$primary_color: #0098a1;
$secondary_color: #014878;
$error_color: #a93540;
$error_hover_color: #882730;

.card {
  .card-header {
    color: white;
    background-color: $primary_color;
    border: none;
  }
    
  .card-body {
    .field {
      display: inline-block;
    }

    .title-field {
      border-bottom: solid 1px $primary_color;
    }

    label {
      font-size: 13px;
      color: $primary_color;

      span {
        color: black;
        font-size: 15px;
      }
    }

    .fa {
      font-size: 30px;
      cursor: pointer;
      color: $primary_color;
    }
    
    .fa-pencil-square-o {
      vertical-align: -webkit-baseline-middle;
    }

    .badge-info {
      background-color: #0098a1;
      color: white!important;
      font-size: 14px;
    }

    .badge {
      margin-left: 0.5rem;
      margin-top: 0.1rem;
      font-size: 16px;
    }
    
    .redirect-link {
      color: $primary_color;
    }
  }
}

.profile-image {
  max-width: 100px;
  margin: auto;
}

form {
  width: 100%;

  .form-group {
    margin-bottom: 0.5rem;
  }
  
  .form-control {
    box-shadow: none;
    border-color: #ddd;
  }
  
  .form-control:focus {
    border-color: $primary_color;
  }
  
  .form-control,
  .btn {
    min-height: 40px;
    border-radius: 2px;
    transition: all 0.5s;
  }
  
  .btn {
    background: $primary_color;
    border: none;
    line-height: normal;
    width: 120px;
    
    &:focus {
      box-shadow: none;
    } 
  
    &:hover {
      background-color: $secondary_color;
    }
  }
  
  label {
    display: inline-block;
    margin-bottom: 0.1rem;
    font-size: 12px;
  }
  
  .error-message {
    color: red;
  }

  .left-item {
    padding-right: 1em!important;
  }

  .radio-button {
    cursor: pointer;
    background: white;
    color: #0098a1;
    border: 1px solid #0098a1;
    border-radius: 2px;
    padding: 0.1rem 0.3rem;
    font-size: 18px;

    &:hover, &:focus {
      background: #0098a1;
      color: white;
      outline: none;
    }
  }
  
  .active {
    background: #0098a1;
    color: white;
    outline: none;
  }
}

.btn {
  background: $primary_color;
  border: none;
  line-height: normal;
  width: 120px;
  min-height: 40px;
  border-radius: 2px;
  transition: all 0.5s;
  font-size:14px;
  
  &:focus {
    box-shadow: none;
  } 

  &:hover {
    background-color: $secondary_color;
  }
}

.btn-danger {
  background-color: $error_color!important;
  border-color: $error_color!important;

  &:hover {
    background-color: $error_hover_color!important;
  }
}

.btn-long {
  width: 150px;
}

label {
  display: inline-block;
  margin-bottom: 0.1rem;
  margin-right: 0.4rem;
  font-size: 14px;
  color: $primary_color;
}

@media screen and (max-width: 768px) {
  .card {
    height: 100%;

    .card-header {
      border-radius: 0;
    }
  
    .card-body {
      .salary-field {
        float: left!important;
      }
    }
  }

  .button-wrapper {
    text-align: center;

    .buttons-block {
      margin-top: 1rem;
    }
  }
}

@media screen and (min-width: 992px) {
  .container {
    display: inline-flex;
  }
}