
<div class="card">
  <h5 class="card-header">{{'DASHBOARD.MY_ACTIVE_INTERNSHIPS' | translate}}</h5>

  <div class="card-body">
    <p *ngIf="internships && internships.length == 0 else showInternships">No internships available, <a class="redirect-link" routerLink="/dashboard/add-internship">create new</a></p>

    <ng-template #showInternships>
      <div *ngFor="let internship of internships | paginate: { itemsPerPage: 2, currentPage: pageNumber }">
        <div class="item mb-5">
          <div class="row">
            <div class="col-12">
              <p class="title-field">{{internship.title}}</p>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-12 col-lg-6 col-xl-4">
                <label>{{'INTERNSHIP.START' | translate}}: <span>{{internship.startDate | date:'fullDate'}}</span></label>
            </div>

            <div class="col-12 col-lg-6 col-xl-4">
              <label>{{'INTERNSHIP.DURATION' | translate}}: <span>{{internship.duration}} {{internship.durationUnit}}</span></label>
            </div>

            <div class="col-12 col-lg-6 col-xl-4">
              <label>{{'INTERNSHIP.STATUS' | translate}}: <span class="badge badge-info">{{internship.status}}</span></label>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-12 col-md-6 col-lg-4">
              <label class="mr-2">{{'INTERNSHIP.INTERNSHIP_TYPE' | translate}}: <span class="badge badge-info">{{internship.type}}</span></label>
            </div>
            <div *ngIf="internship.type === 'PAID'" class="col-12 col-md-6 col-lg-4">
              <div class="salary-field">
                <label class="mr-2">{{'INTERNSHIP.SALARY' | translate}}:</label>
                <p class="field">{{internship.salary}} {{internship.currency}}</p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <label class="mr-2">{{'INTERNSHIP.NUMBER_OF_STUDENTS' | translate}}:</label>
              <p class="field">{{internship.maxNumberOfStudents}}</p>
            </div>
          </div>
      
          <div class="row mb-2">
            <div class="col-12">
              <label>{{'INTERNSHIP.DETAILS' | translate}}:</label>
              <p>{{internship.description}}</p>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-12">
              <div class="d-block w-100 button-wrapper">
                <span class="float-left mr-4" (click)="openEditModal(editInternshipModal, internship.trackingNumber)"><i class="fa fa-pencil-square-o"></i></span>
                <span class="float-left mr-4" (click)="openDeleteModal(deleteInternshipModal, internship.trackingNumber)"><i class="fa fa-trash"></i></span>
                <div class="d-inline-block buttons-block">
                  <button class="btn btn-primary mr-3" routerLink="/dashboard/assigned-interns/{{internship.trackingNumber}}">{{'DASHBOARD.ASSIGNED_INTERNS' | translate}}</button>
                  <button class="btn btn-primary" (click)="openFinishModal(finishInternshipModal, internship.trackingNumber)">{{'DASHBOARD.FINISH_INTERNSHIP' | translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <pagination-controls (pageChange)="pageNumber = $event" 
          previousLabel="" nextLabel="" maxSize="5"></pagination-controls>
      </div>
    </ng-template>
  </div>
</div>

<ng-template #editInternshipModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Internship</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="internshipForm">
      <div class="col-12 col-lg-6 d-inline-block align-top">
        <div class="form-group">
          <label *ngIf="!isInvalidFormControl(internshipForm, 'title')">Title</label>

          <div *ngIf="isInvalidFormControl(internshipForm, 'title')" class="error-message">
            <label *ngIf="internshipForm.controls['title'].errors.required">Title is required.</label>
          </div>

          <input [ngStyle]="isInvalidFormControl(internshipForm, 'title') && {'border-color': '#ff0000'}" type="text"
            class="form-control" placeholder="Enter first name" formControlName="title">
        </div>

        <div class="form-group">
          <label *ngIf="!isInvalidFormControl(internshipForm, 'description')">Description</label>

          <div *ngIf="isInvalidFormControl(internshipForm, 'description')" class="error-message">
            <label *ngIf="internshipForm.controls['description'].errors.required">Description is required</label>
          </div>

          <textarea [ngStyle]="isInvalidFormControl(internshipForm, 'description') && {'border-color': '#ff0000'}" rows="10"
            class="form-control" placeholder="Enter description" formControlName="description"></textarea>
        </div>
      </div>
      <div class="col-12 col-lg-6 d-inline-block align-top">
        <div class="form-group">
          <label *ngIf="!isInvalidFormControl(internshipForm, 'startDate')">Internship start date</label>

          <div *ngIf="isInvalidFormControl(internshipForm, 'startDate')" class="error-message">
            <label *ngIf="internshipForm.controls['startDate'].errors.required">Start date is required.</label>
          </div>

          <input [ngStyle]="isInvalidFormControl(internshipForm, 'startDate') && {'border-color': '#ff0000'}" type="text" 
            class="form-control mb-3" placeholder="Datepicker" bsDatepicker formControlName="startDate" value="{{internshipForm.get('startDate').value | date: 'MM/dd/yyyy'}}"/>
        </div>

        <div class="form-group">
          <label *ngIf="!isInvalidFormControl(internshipForm, 'maxNumberOfStudents')">Maximum number of students</label>

          <div *ngIf="isInvalidFormControl(internshipForm, 'maxNumberOfStudents')" class="error-message">
            <label *ngIf="internshipForm.controls['maxNumberOfStudents'].errors.required">Maximum number of students is required.</label>
          </div>

          <input [ngStyle]="isInvalidFormControl(internshipForm, 'maxNumberOfStudents') && {'border-color': '#ff0000'}" type="number"
            class="form-control" placeholder="Enter maximum number of students" formControlName="maxNumberOfStudents">
        </div>

        <div class="form-group">
          <div class="col-12 col-lg-6 p-0 left-item d-inline-block">
            <div class="form-group">
              <label *ngIf="!isInvalidFormControl(internshipForm, 'duration')">Duration</label>
  
              <div *ngIf="isInvalidFormControl(internshipForm, 'duration')" class="error-message">
                <label *ngIf="internshipForm.controls['duration'].errors.required">Duration is required.</label>
              </div>
  
              <input [ngStyle]="isInvalidFormControl(internshipForm, 'duration') && {'border-color': '#ff0000'}" type="number"
                class="form-control" placeholder="Enter duration" formControlName="duration">
            </div>
          </div>
          <div class="col-12 col-lg-6 p-0 d-inline-block">
            <div class="form-group">
              <label class="mr-3">Duration unit:</label>

              <div class="btn-group" btnRadioGroup formControlName="durationUnit">
                <label [ngClass]="{ active: internshipForm.get('durationUnit').value === 'WEEK'}" btnRadio="WEEK" class="radio-button mr-2" tabindex="0" role="button">Week</label>
                <label [ngClass]="{ active: internshipForm.get('durationUnit').value === 'MONTH'}" btnRadio="MONTH" class="radio-button" tabindex="0" role="button">Month</label>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="mr-3">Internship type:</label>

          <div class="btn-group" btnRadioGroup formControlName="type">
            <label [ngClass]="{ active: internshipForm.get('type').value === 'PAID'}" btnRadio="PAID" class="radio-button mr-2" tabindex="0" role="button">Paid</label>
            <label [ngClass]="{ active: internshipForm.get('type').value === 'UNPAID'}" btnRadio="UNPAID" class="radio-button" tabindex="0" role="button">Unpaid</label>
          </div>
        </div>

        <div *ngIf="internshipForm.get('type').value === 'PAID'">
          <div class="col-12 col-lg-6 p-0 left-item d-inline-block">
            <div class="form-group">
              <label *ngIf="!isInvalidFormControl(internshipForm, 'salary')">Salary</label>
  
              <div *ngIf="isInvalidFormControl(internshipForm, 'salary')" class="error-message">
                <label *ngIf="internshipForm.controls['salary'].errors.required">Salary is required.</label>
              </div>
  
              <input [ngStyle]="isInvalidFormControl(internshipForm, 'salary') && {'border-color': '#ff0000'}" type="number"
                class="form-control" placeholder="Enter salary" formControlName="salary">
            </div>
          </div>
          <div class="col-12 col-lg-6 p-0 d-inline-block">
            <div class="btn-group" btnRadioGroup formControlName="currency">
              <label [ngClass]="{ active: internshipForm.get('currency').value === 'BGN'}" btnRadio="BGN" class="radio-button mr-2" tabindex="0" role="button">BGN</label>
              <label [ngClass]="{ active: internshipForm.get('currency').value === 'EUR'}" btnRadio="EUR" class="radio-button" tabindex="0" role="button">EUR</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="mr-3">Internship status:</label>

          <div class="btn-group" btnRadioGroup formControlName="status">
            <label [ngClass]="{ active: internshipForm.get('status').value === 'ACTIVE'}" btnRadio="ACTIVE" class="radio-button mr-2" tabindex="0" role="button">Active</label>
            <label [ngClass]="{ active: internshipForm.get('status').value === 'FINISHED'}" btnRadio="FINISHED" class="radio-button" tabindex="0" role="button">Finished</label>
          </div>
        </div>

      </div>
    </form>
    
    <div class="col-12 mt-2">
      <button class="btn btn-primary float-right" (click)="editInternship()" [disabled]="!checkFormValid()">Edit</button>
    </div>
  </div>
</ng-template>

<ng-template #deleteInternshipModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Are you sure:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body d-inline-flex m-auto">
    <button class="btn btn-danger btn-short mr-3" (click)="modalRef.hide()">No</button>
    <button class="btn btn-primary btn-short" (click)="deleteInternship()">Yes</button>
  </div>
</ng-template>


<ng-template #finishInternshipModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Finish internship:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body d-inline-flex m-auto">
    <button class="btn btn-danger btn-short mr-3" (click)="modalRef.hide()">No</button>
    <button class="btn btn-primary btn-short" (click)="finishInternship()">Yes</button>
  </div>
</ng-template>
