<div class="card">
    <h5 class="card-header">New internships</h5>
  
    <div class="card-body">
      <p *ngIf="internships && internships.length == 0 else showInternships">No internships available</p>
  
      <ng-template #showInternships>
        <div *ngFor="let internship of internships">
          <div class="item mb-5">
            <div class="row">
              <div class="col-12 col-md-7 col-xl-9">
                <p class="title-field">{{internship.title}}</p>
              </div>
              <div class="col-12 col-md-5 col-xl-3">
                <div class="float-right">
                  <label>Start: <span>{{internship.startDate | date:'fullDate'}}</span></label>
                </div>
              </div>
            </div>
        
            <div class="row mb-2">
              <div class="col-12">
                <label>Details:</label>
                <p>{{internship.description}}</p>
              </div>
            </div>
        
            <div class="row">
              <div class="col-12 col-md-6">
                <label class="mr-2">Number of students:</label>
                <p class="field">{{internship.maxNumberOfStudents}}</p>
              </div>
              <div class="col-12 col-md-6">
                <div class="float-right salary-field">
                  <label class="mr-2">Salary:</label>
                  <p class="field">{{internship.salary}}</p>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-12">
                <button class="btn btn-primary">Apply</button>
              </div>
            </div>
  
          </div>
        </div>
      </ng-template>
    </div>
  </div>