$primary_color: #0098a1;
$secondary_color: #014878;

.card {
  .card-header {
    color: white;
    background-color: $primary_color;
    border: none;
  }
    
  .card-body {
    .field {
      display: inline-block;
    }

    .title-field {
      border-bottom: solid 1px $primary_color;
    }

    label {
      font-size: 13px;
      color: $primary_color;

      span {
        color: black;
        font-size: 15px;
      }
    }
  }
}

.btn {
  background: $primary_color;
  border: none;
  line-height: normal;
  width: 140px;
  min-height: 40px;
  border-radius: 2px;
  transition: all 0.5s;
  font-size:14px;
  
  &:focus {
    box-shadow: none;
  } 

  &:hover {
    background-color: $secondary_color;
  }
}
  