<div class="card">
  <h5 class="card-header">{{'DASHBOARD.MY_ACTIVE_INTERNSHIPS' | translate}}</h5>

  <div class="card-body">
    <p *ngIf="internships && internships.length == 0 else showInternships">{{'DASHBOARD.NO_INTERNSHIPS_FOUND' | translate}}, <a class="redirect-link" routerLink="/dashboard/search-internships">{{'DASHBOARD.SEARCH_NEW' | translate}}</a></p>

    <ng-template #showInternships>
      <div *ngFor="let internship of internships | paginate: { itemsPerPage: 2, currentPage: pageNumber }">
        <div class="item mb-5">
          <div class="row">
            <div class="col-12 col-xl-2 side-block">
              <div class="row h-100 m-auto">
                <div class="col-6 col-md-12 emp-container">
                  <p class="text-center">{{internship.employer.companyName}}</p>
                  <img class="profile-image" src="{{apiUrl}}/{{internship.employer.profileImageName}}" alt="emp">
                  <button class="btn btn-primary profile-button mt-2" (click)="openInternshipDetailsModal(showInternshipDetailsModal, internship.trackingNumber)">{{'DASHBOARD.INTERNSHIP_DETAILS' | translate}}</button>
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-10">
              <div class="col-12">
                <p class="title-field">{{internship.title}}</p>
              </div>

              <div class="row mb-2">
                <div class="col-12">
                  <label>{{'INTERNSHIP.DETAILS' | translate}}:</label>
                  <p>{{internship.description}}</p>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <button class="btn btn-primary mr-3" (click)="openReportModal(showReportModal, internship.trackingNumber)">{{'REPORT.SEND_REPORT' | translate}}</button>
                  <button class="btn btn-primary" (click)="openMyReportsModal(showMyReportsModal, internship.trackingNumber)">{{'REPORT.MY_REPORTS' | translate}}</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <pagination-controls (pageChange)="pageNumber = $event" 
          previousLabel="" nextLabel="" maxSize="5"></pagination-controls>
      </div>
    </ng-template>
  </div>
</div>

<ng-template #showInternshipDetailsModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'DASHBOARD.INTERNSHIP_DETAILS' | translate}}:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container" *ngIf="selectedInternship">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div>
            <label>{{'INTERNSHIP.TITLE' | translate}}:</label>
            <p>{{selectedInternship.title}}</p>
          </div>
          <div>
            <label>{{'INTERNSHIP.START' | translate}}:</label>
            <p>{{selectedInternship.startDate | date:'fullDate' }}</p>
          </div>
          <div>
            <label>{{'INTERNSHIP.INTERNSHIP_TYPE' | translate}}:</label>
            <span class="badge badge-info">{{selectedInternship.type | translate}}</span>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div>
            <label>{{'EMPLOYER' | translate}}:</label>
            <p>{{selectedInternship.employer.companyName}}</p>
          </div>
          <div>
            <label>{{'INTERNSHIP.DURATION' | translate}}:</label>
            <p>{{ getDurationLabel(selectedInternship.duration, selectedInternship.durationUnit) }}</p>
          </div>
          <div *ngIf="selectedInternship.type === 'PAID'">
            <label>{{'INTERNSHIP.SALARY' | translate}}:</label>
            <p>{{selectedInternship.salary}}</p>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <label>{{'INTERNSHIP.DETAILS' | translate}}:</label>
          <p>{{selectedInternship.description}}</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #showReportModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'REPORT.NEW_REPORT' | translate}}:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container" *ngIf="selectedInternship">
      <form [formGroup]="reportForm">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="form-group">
              <label *ngIf="!isInvalidFormControl(reportForm, 'reportDetails')">{{'FINAL_REPORT.REPORT_DETAILS' | translate}}</label>
    
              <div *ngIf="isInvalidFormControl(reportForm, 'reportDetails')">
                <label class="error-message" *ngIf="reportForm.controls['reportDetails'].errors.required">{{'VALIDATION.REPORT_DETAILS_REQUIRED' | translate}}</label>
              </div>
    
              <textarea [ngStyle]="isInvalidFormControl(reportForm, 'reportDetails') && {'border-color': '#ff0000'}" rows="5"
                class="form-control" placeholder="{{'PLACEHOLDER.ENTER_REPORT_DETAILS' | translate}}" formControlName="reportDetails"></textarea>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="form-group">
              <label *ngIf="!isInvalidFormControl(reportForm, 'reportStartDate')">{{'COMMON.FROM_DATE' | translate}}</label>

              <div *ngIf="isInvalidFormControl(reportForm, 'reportStartDate')">
                <label class="error-message" *ngIf="reportForm.controls['reportStartDate'].errors.required">{{'VALIDATION.REPORT_FROM_DATE_REQUIRED' | translate}}</label>
              </div>

              <input [ngStyle]="isInvalidFormControl(reportForm, 'reportStartDate') && {'border-color': '#ff0000'}" type="text" 
                class="form-control mb-3" placeholder="{{'COMMON.FROM_DATE' | translate}}" bsDatepicker formControlName="reportStartDate" value="{{reportForm.get('reportStartDate').value | date: 'MM/dd/yyyy'}}"/>
            </div>

            <div class="form-group">
              <label *ngIf="!isInvalidFormControl(reportForm, 'reportEndDate')">{{'COMMON.TO_DATE' | translate}}:</label>

              <div *ngIf="isInvalidFormControl(reportForm, 'reportEndDate')">
                <label class="error-message" *ngIf="reportForm.controls['reportEndDate'].errors.required">{{'VALIDATION.REPORT_TO_DATE_REQUIRED' | translate}}</label>
              </div>

              <input [ngStyle]="isInvalidFormControl(reportForm, 'reportEndDate') && {'border-color': '#ff0000'}" type="text" 
              class="form-control mb-3" placeholder="{{'COMMON.FROM_DATE' | translate}}" bsDatepicker formControlName="reportEndDate" value="{{reportForm.get('reportEndDate').value | date: 'MM/dd/yyyy'}}"/>
            </div>
          </div>
          <div class="col-12 mt-2">
            <button *ngIf="!isEdit" class="btn btn-primary float-right" (click)="addNewReport()" [disabled]="!checkFormValid()">{{'FINAL_REPORT.CREATE_REPORT' | translate}}</button>
            <button *ngIf="isEdit" class="btn btn-primary float-right" (click)="editReport()" [disabled]="!checkFormValid()">{{'FINAL_REPORT.EDIT_REPORT' | translate}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #showMyReportsModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'REPORT.MY_REPORTS' | translate}}:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container" *ngIf="myReportsForInternship">
      <div *ngIf="myReportsForInternship.length === 0">
        <p>{{'REPORT.NO_REPORTS_SO_FAR' | translate}}, <span class="create-report-link" (click)="createNewReportRedirect(showReportModal)">{{'COMMON.CREATE_NEW' | translate}}</span></p>
      </div>
      <div *ngIf="myReportsForInternship.length > 0">
        <div *ngFor="let report of myReportsForInternship">
          <div class="row">
            <div class="col-12 col-lg-5">
              <div>
                <label>{{'FINAL_REPORT.REPORT_DETAILS' | translate}}:</label>
                <p>{{report.reportDetails}}</p>
              </div>
            </div>
            <div class="col-12 col-lg-7 d-inline-flex">
              <div class="w-100 d-report-date">
                <label>{{'COMMON.FROM_DATE' | translate}}:</label>
                <p>{{report.reportStartDate | date:'dd-MM-yyyy' }}</p>
              </div>
              <div class="w-100 d-report-date">
                <label>{{'COMMON.TO_DATE' | translate}}:</label>
                <p>{{report.reportEndDate | date:'dd-MM-yyyy' }}</p>
              </div>
            </div>
            <div class="d-block w-100">
              <span class="float-right mr-4" (click)="openDeleteReportModal(showDeleteReportModal, report.trackingNumber)"><i class="fa fa-trash"></i></span>
              <span class="float-right mr-4" (click)="openEditReportModal(showReportModal, report.trackingNumber)"><i class="fa fa-pencil-square-o"></i></span>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #showDeleteReportModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'REPORT.DELETE_REPORT_CONFIRM' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body d-inline-flex m-auto">
    <button class="btn btn-danger btn-short mr-3">{{'COMMON.NO' | translate}}</button>
    <button class="btn btn-primary btn-short" (click)="deleteReport()">{{'COMMON.YES' | translate}}</button>
  </div>
</ng-template>