<div class="card">
  <h5 class="card-header">{{'DASHBOARD.EDIT_ACCOUNT' | translate}}</h5>

  <div class="card-body">
    <div class="col-12 col-lg-6 d-inline-block align-top">
      <form [formGroup]="accountForm">
        <div class="box mb-4">
          <div class="image-preview">
            <img *ngIf="previewUrl" class="profile-image" [src]="previewUrl">
          </div>

          <div class="upload-options">
            <label>
              <span class="fa fa-plus"></span>
              <input type="file" class="image-upload" (change)="onFileChanged($event)">
            </label>
          </div>
        </div>

        <div class="form-group">
          <label *ngIf="!isInvalidFormControl(accountForm, 'username')">{{'USER.USERNAME' | translate}}:</label>

          <div *ngIf="isInvalidFormControl(accountForm, 'username')">
            <label class="error-message" *ngIf="accountForm.controls['username'].errors.required">{{'VALIDATION.USERNAME_REQUIRED' | translate}}</label>
            <label class="error-message" *ngIf="accountForm.controls['username'].errors.minlength">{{'VALIDATION.USERNAME_LENGTH' | translate}}</label>
          </div>

          <input [ngStyle]="isInvalidFormControl(accountForm, 'username') && {'border-color': '#ff0000'}" type="text"
            class="form-control" placeholder="{{'PLACEHOLDER.ENTER_USERNAME' | translate}}" formControlName="username">
        </div>

      </form>
    </div>

    <div *ngIf="role === INTERN" class="col-12 col-lg-6 d-inline-block align-top">
      <form [formGroup]="internDetailsForm">
        <div class="form-group">
          <label *ngIf="!isInvalidFormControl(internDetailsForm, 'firstName')">{{'USER.FIRST_NAME' | translate}}:</label>

          <div *ngIf="isInvalidFormControl(internDetailsForm, 'firstName')">
            <label class="error-message" *ngIf="internDetailsForm.controls['firstName'].errors.required">{{'VALIDATION.FIRST_NAME_REQUIRED' | translate}}</label>
          </div>

          <input [ngStyle]="isInvalidFormControl(internDetailsForm, 'firstName') && {'border-color': '#ff0000'}" type="text"
            class="form-control" placeholder="{{'PLACEHOLDER.ENTER_FIRST_NAME' | translate}}" formControlName="firstName">
        </div>

        <div class="form-group">
          <label *ngIf="!isInvalidFormControl(internDetailsForm, 'lastName')">{{'USER.LAST_NAME' | translate}}:</label>

          <div *ngIf="isInvalidFormControl(internDetailsForm, 'lastName')">
            <label class="error-message" *ngIf="internDetailsForm.controls['lastName'].errors.required">{{'VALIDATION.LAST_NAME_REQUIRED' | translate}}</label>
          </div>

          <input [ngStyle]="isInvalidFormControl(internDetailsForm, 'lastName') && {'border-color': '#ff0000'}" type="text"
            class="form-control" placeholder="{{'PLACEHOLDER.ENTER_LAST_NAME' | translate}}" formControlName="lastName">
        </div>

        <div class="form-group">
          <label *ngIf="!isInvalidFormControl(internDetailsForm, 'age')">{{'USER.AGE' | translate}}:</label>

          <div *ngIf="isInvalidFormControl(internDetailsForm, 'age')">
            <label class="error-message" *ngIf="internDetailsForm.controls['age'].errors">{{'VALIDATION.AGE_BETWEEN' | translate}}</label>
          </div>

          <input [ngStyle]="isInvalidFormControl(internDetailsForm, 'age') && {'border-color': '#ff0000'}" type="number"
            class="form-control" placeholder="{{'PLACEHOLDER.ENTER_AGE' | translate}}" formControlName="age">
        </div>

        <div class="form-group">
          <label *ngIf="!isInvalidFormControl(internDetailsForm, 'university')">{{'USER.UNIVERSITY' | translate}}:</label>

          <div *ngIf="isInvalidFormControl(internDetailsForm, 'university')">
            <label class="error-message" *ngIf="internDetailsForm.controls['university'].errors.required">{{'VALIDATION.UNIVERSITY_REQUIRED' | translate}}</label>
          </div>

          <input [ngStyle]="isInvalidFormControl(internDetailsForm, 'university') && {'border-color': '#ff0000'}" type="text"
            class="form-control" placeholder="{{'PLACEHOLDER.ENTER_UNIVERSITY' | translate}}" formControlName="university">
        </div>

        <div class="form-group">
          <label *ngIf="!isInvalidFormControl(internDetailsForm, 'course')">{{'USER.COURSE' | translate}}:</label>

          <div *ngIf="isInvalidFormControl(internDetailsForm, 'course')">
            <label class="error-message" *ngIf="internDetailsForm.controls['course'].errors.required">{{'VALIDATION.COURSE_REQUIRED' | translate}}</label>
          </div>

          <input [ngStyle]="isInvalidFormControl(internDetailsForm, 'course') && {'border-color': '#ff0000'}" type="text"
            class="form-control" placeholder="{{'PLACEHOLDER.ENTER_COURSE' | translate}}" formControlName="course">
        </div>

        <div class="form-group">
          <label *ngIf="!isInvalidFormControl(internDetailsForm, 'previousEducation')">{{'USER.PREVIOUS_EDUCATION' | translate}}:</label>

          <div *ngIf="isInvalidFormControl(internDetailsForm, 'previousEducation')">
            <label class="error-message" *ngIf="internDetailsForm.controls['previousEducation'].errors.required">{{'VALIDATION.PREVIOUS_EDUCATION_REQUIRED' | translate}}</label>
          </div>

          <input [ngStyle]="isInvalidFormControl(internDetailsForm, 'previousEducation') && {'border-color': '#ff0000'}" type="text"
            class="form-control" placeholder="{{'PLACEHOLDER.ENTER_PREVIOUS_EDUCATION' | translate}}" formControlName="previousEducation">
        </div>

        <div class="form-group">
          <label *ngIf="!isInvalidFormControl(internDetailsForm, 'startDate')">{{'USER.START_DATE_OF_STUDYING' | translate}}:</label>

          <div *ngIf="isInvalidFormControl(internDetailsForm, 'startDate')">
            <label class="error-message" *ngIf="internDetailsForm.controls['startDate'].errors.required">{{'VALIDATION.START_DATE_OF_STUDYING_REQUIRED' | translate}}</label>
          </div>

          <input [ngStyle]="isInvalidFormControl(internDetailsForm, 'startDate') && {'border-color': '#ff0000'}" type="text" 
          class="form-control mb-3" placeholder="{{'PLACEHOLDER.ENTER_START_DATE_OF_STUDYING' | translate}}" bsDatepicker formControlName="startDate" value="{{internDetailsForm.get('startDate').value | date: 'MM/dd/yyyy'}}"/>
        </div>
      </form>
    </div>
    <div *ngIf="role === EMPLOYER" class="col-12 col-lg-6 d-inline-block align-top">
      <form [formGroup]="employerDetailsForm" >
        <div class="form-group">
          <label *ngIf="!isInvalidFormControl(employerDetailsForm, 'companyName')">{{'USER.COMPANY_NAME' | translate}}:</label>
          <div *ngIf="isInvalidFormControl(employerDetailsForm, 'companyName')">
            <label class="error-message" *ngIf="employerDetailsForm.controls['companyName'].errors.required">{{'VALIDATION.COMPANY_NAME_REQUIRED' | translate}}</label>
          </div>
          <input [ngStyle]="isInvalidFormControl(employerDetailsForm, 'companyName') && {'border-color': '#ff0000'}" type="text" class="form-control" placeholder="{{'PLACEHOLDER.ENTER_COMPANY_NAME' | translate}}" formControlName="companyName">
        </div>
        <div class="form-group">
          <label *ngIf="!isInvalidFormControl(employerDetailsForm, 'numberOfWorkers')">{{'USER.NUMBER_OF_WORKERS' | translate}}:</label>
          <div *ngIf="isInvalidFormControl(employerDetailsForm, 'numberOfWorkers')">
            <label class="error-message" *ngIf="employerDetailsForm.controls['numberOfWorkers'].errors.required">{{'VALIDATION.NUMBER_OF_WORKERS_REQUIRED' | translate}}</label>
          </div>
          <input [ngStyle]="isInvalidFormControl(employerDetailsForm, 'numberOfWorkers') && {'border-color': '#ff0000'}" type="number" class="form-control" placeholder="{{'PLACEHOLDER.ENTER_NUMBER_OF_WORKERS' | translate}}" formControlName="numberOfWorkers">
        </div>
        <div class="form-group">
          <label *ngIf="!isInvalidFormControl(employerDetailsForm, 'descriptionNotes')">{{'USER.DESCRIPTION_NOTES' | translate}}:</label>
          <div *ngIf="isInvalidFormControl(employerDetailsForm, 'descriptionNotes')">
            <label class="error-message" *ngIf="employerDetailsForm.controls['descriptionNotes'].errors.required">{{'VALIDATION.DESCRIPTION_NOTES_REQUIRED' | translate}}</label>
          </div>
          <textarea [ngStyle]="isInvalidFormControl(employerDetailsForm, 'descriptionNotes') && {'border-color': '#ff0000'}" class="form-control" rows="5" formControlName="descriptionNotes">{{'PLACEHOLDER.ENTER_DESCRIPTION' | translate}}</textarea>
        </div>
        <div class="form-group">
          <label *ngIf="!isInvalidFormControl(employerDetailsForm, 'historyNotes')">{{'USER.HISTORY_NOTES' | translate}}:</label>
          <div *ngIf="isInvalidFormControl(employerDetailsForm, 'historyNotes')">
            <label class="error-message" *ngIf="employerDetailsForm.controls['historyNotes'].errors.required">{{'VALIDATION.HISTORY_NOTES_REQUIRED' | translate}}</label>
          </div>
          <textarea [ngStyle]="isInvalidFormControl(employerDetailsForm, 'historyNotes') && {'border-color': '#ff0000'}" class="form-control" rows="5" formControlName="historyNotes">{{'PLACEHOLDER.ENTER_HISTORY' | translate}}</textarea>
        </div>
      </form>
    </div>

    <div class="col-12 mt-2">
      <button class="btn btn-primary float-right" (click)="editAccount()" [disabled]="!checkAllFormsValid()">{{'DASHBOARD.EDIT_ACCOUNT' | translate}}</button>
    </div>
  </div>
</div>