<div class="card">
  <h5 class="card-header">{{'DASHBOARD.ASSIGNED_INTERNS' | translate}}: </h5>

  <div class="card-body">
    <p *ngIf="assignedInterns && assignedInterns.length == 0 else showMyApplications">{{'DASHBOARD.NO_ASSIGNED_INTERNS' | translate}}</p>

    <ng-template #showMyApplications>
      <div *ngFor="let intern of assignedInterns | paginate: { itemsPerPage: 2, currentPage: pageNumber }" class="mb-2">
          <div class="row mb-2 align-items-center">
            <div class="col-12 col-md-3">
              <img class="profile-image mb-3" src="{{apiUrl}}/{{intern.profileImageName}}" alt="intern">
            </div>
            <div class="col-12 col-md-9">
              <div class="col-12 info-container mb-4">
                <div class="col-12 col-md-6">
                  <label>{{'USER.NAMES' | translate}}:</label>
                  <span>{{intern.firstName}} {{intern.lastName}}</span>
                </div>
      
                <div class="col-12 col-md-6">
                  <label>{{'USER.UNIVERSITY' | translate}}: </label>
                  <span>{{intern.university}}</span>
                </div>
              </div>
              <div class="col-12">
                <button class="btn btn-primary mr-3" (click)="openInternProfileModal(showInternProfileModal, intern.email)">{{'USER.PROFILE' | translate}}</button>
                <button class="btn btn-primary" (click)="openInternReportsModal(showInternReportsModal, intern)">{{'USER.REPORTS' | translate}}</button>
              </div>
            </div>
          </div>
          <hr>
        </div>
    </ng-template>
    <div *ngIf="assignedInterns && assignedInterns.length > 0" class="text-center">
      <pagination-controls (pageChange)="pageNumber = $event" 
        previousLabel="" nextLabel="" maxSize="5"></pagination-controls>
    </div>
  </div>
</div>

<ng-template #showInternProfileModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'DASHBOARD.INTERN_DETAILS' | translate}}:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="profile-container" *ngIf="internDetails">
      <div class="col-12 col-lg-6">
        <div class="col-12">
          <label>{{'USER.NAMES' | translate}}:</label>
          <p>{{internDetails.userDetails.firstName}} {{internDetails.userDetails.lastName}}</p>
        </div>
        <div class="col-12">
          <img class="profile-image mb-3" src="{{apiUrl}}/{{internDetails.account.profileImageName}}" alt="intern">
        </div>
        <div class="col-12 d-inline-flex">
          <label>{{'USER.AGE' | translate}}:</label>
          <p>{{internDetails.userDetails.age}}</p>
        </div>
        <div class="col-12 d-inline-flex">
          <label>{{'USER.UNIVERSITY' | translate}}:</label>
          <p>{{internDetails.userDetails.university}}</p>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="col-12 d-inline-flex">
          <label>{{'USER.COURSE' | translate}}:</label>
          <p>{{internDetails.userDetails.course}}</p>
        </div>
        <div class="col-12 d-inline-flex">
          <label>{{'USER.START_DATE_OF_STUDYING' | translate}}:</label>
        <p>{{internDetails.userDetails.startDate | date:'yyyy' }}</p>
        </div>
        <div class="col-12 d-inline-flex">
          <label>{{'USER.PREVIOUS_EDUCATION' | translate}}:</label>
          <p>{{internDetails.userDetails.previousEducation}}</p>
        </div>
        <div class="col-12 d-inline-flex">
          <label>{{'USER.SKILLS' | translate}}:</label>
          <ul>
            <li *ngFor="let skill of internDetails.userDetails.skills">
              {{skill}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #showInternReportsModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'REPORT.REPORTS_FROM' | translate}} {{selectedInternNames}}:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container" *ngIf="internReports">
      <div *ngIf="internReports.length === 0">
        <p>{{'REPORT.NO_REPORTS_SO_FAR' | translate}}</p>
      </div>
      <div *ngIf="internReports.length > 0">
        <div *ngFor="let report of internReports">
          <div class="row">
            <div class="col-12 col-lg-5">
              <div>
                <label>{{'FINAL_REPORT.REPORT_DETAILS' | translate}}:</label>
                <p>{{report.reportDetails}}</p>
              </div>
            </div>
            <div class="col-12 col-lg-7 d-inline-flex">
              <div class="w-100 d-report-date">
                <label>{{'COMMON.FROM_DATE' | translate}}:</label>
                <p>{{report.reportStartDate | date:'dd-MM-yyyy' }}</p>
              </div>
              <div class="w-100 d-report-date">
                <label>{{'COMMON.TO_DATE' | translate}}:</label>
                <p>{{report.reportEndDate | date:'dd-MM-yyyy' }}</p>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</ng-template>