<div class="card">
  <h5 class="card-header">{{'DASHBOARD.ALL_ACTIVE_INTERNSHIPS' | translate}}</h5>

  <div class="card-body">
    <p *ngIf="internships && internships.length == 0 else showInternships">{{'DASHBOARD.NO_ACTIVE_INTERNSHIPS' | translate}}</p>

    <ng-template #showInternships>
      <div *ngFor="let internship of internships | paginate: { itemsPerPage: 2, currentPage: pageNumber }">
        <div class="item mb-5">
          <div class="row">
            <div class="col-12 col-xl-2 side-block">
              <div class="row h-100 m-auto">
                <div class="col-6 col-md-12 emp-container">
                  <p class="text-center">{{internship.employer.companyName}}</p>
                  <img class="profile-image" src="{{apiUrl}}/{{internship.employer.profileImageName}}" alt="emp">
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-10">
              <div class="col-12">
                <p class="title-field">{{internship.title}}</p>
              </div>

              <div class="row mb-2">
                <div class="col-12 col-lg-6 col-xl-4">
                    <label>{{'INTERNSHIP.START' | translate}}: <span>{{internship.startDate | date:'fullDate'}}</span></label>
                </div>
    
                <div class="col-12 col-lg-6 col-xl-4">
                  <label>{{'INTERNSHIP.DURATION' | translate}}: <span>{{ getDurationLabel(internship.duration, internship.durationUnit) }}</span></label>
                </div>
              </div>
    
              <div class="row mb-2">
                <div class="col-12 col-md-6 col-lg-4">
                  <label class="mr-2">{{'INTERNSHIP.INTERNSHIP_TYPE' | translate}}: <span class="badge badge-info">{{internship.type}}</span></label>
                </div>
                <div *ngIf="internship.type === 'PAID'" class="col-12 col-md-6 col-lg-4">
                  <div class="salary-field">
                    <label class="mr-2">{{'INTERNSHIP.SALARY' | translate}}:</label>
                    <p class="field">{{internship.salary}} {{internship.currency}}</p>
                  </div>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-12">
                  <label>{{'INTERNSHIP.DETAILS' | translate}}:</label>
                  <p>{{internship.description}}</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <pagination-controls (pageChange)="pageNumber = $event" 
          previousLabel="" nextLabel="" maxSize="5"></pagination-controls>
      </div>
    </ng-template>
  </div>
</div>
  
  