<div class="card">
  <h5 class="card-header">{{'DASHBOARD.FINISHED_INTERNSHIPS' | translate}}</h5>

  <div class="card-body">
    <p *ngIf="internships && internships.length == 0 else showInternships">{{'DASHBOARD.NO_FINISHED_INTERNSHIPS' | translate}}</p>

    <ng-template #showInternships>
      <div *ngFor="let internship of internships | paginate: { itemsPerPage: 2, currentPage: pageNumber }">
        <div class="item mb-5">
          <div class="row">
            <div class="col-12">
              <p class="title-field">{{internship.title}}</p>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-12 col-lg-6 col-xl-4">
                <label>{{'INTERNSHIP.START' | translate}}: <span>{{internship.startDate | date:'fullDate'}}</span></label>
            </div>

            <div class="col-12 col-lg-6 col-xl-4">
              <label>{{'INTERNSHIP.DURATION' | translate}}: <span>{{ getDurationLabel(internship.duration, internship.durationUnit) }}</span></label>
            </div>

            <div class="col-12 col-lg-6 col-xl-4">
              <label>{{'INTERNSHIP.STATUS' | translate}}: <span class="badge badge-info">{{internship.status | translate}}</span></label>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-12 col-md-6 col-lg-4">
              <label class="mr-2">{{'INTERNSHIP.INTERNSHIP_TYPE' | translate}}: <span class="badge badge-info">{{internship.type | translate}}</span></label>
            </div>
            <div *ngIf="internship.type === 'PAID'" class="col-12 col-md-6 col-lg-4">
              <div class="salary-field">
                <label class="mr-2">{{'INTERNSHIP.SALARY' | translate}}: <span>{{internship.salary}} {{internship.currency}}</span></label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <label class="mr-2">{{'INTERNSHIP.MAX_STUDENTS' | translate}}: <span>{{internship.maxNumberOfStudents}}</span></label>
            </div>
          </div>
      
          <div class="row mb-2">
            <div class="col-12">
              <label>{{'INTERNSHIP.DETAILS' | translate}}:</label>
              <p>{{internship.description}}</p>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-12">
              <button class="btn btn-primary" routerLink="/dashboard/final-reports/{{internship.trackingNumber}}">{{'DASHBOARD.FINAL_REPORTS' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <pagination-controls (pageChange)="pageNumber = $event" 
          previousLabel="" nextLabel="" maxSize="5"></pagination-controls>
      </div>
    </ng-template>
  </div>
</div>