<div class="card">
  <h5 class="card-header">Finished internships</h5>

  <div class="card-body">
    <p *ngIf="internships && internships.length == 0 else showInternships">No finished internships available.</p>

    <ng-template #showInternships>
      <div *ngFor="let internship of internships">
        <div class="item mb-5">
          <div class="row">
            <div class="col-12">
              <p class="title-field">{{internship.title}}</p>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-12 col-lg-6 col-xl-4">
                <label>Start: <span>{{internship.startDate | date:'fullDate'}}</span></label>
            </div>

            <div class="col-12 col-lg-6 col-xl-4">
              <label>Duration: <span>{{ getDurationLabel(internship.duration, internship.durationUnit) }}</span></label>
            </div>

            <div class="col-12 col-lg-6 col-xl-4">
              <label>Status: <span class="badge badge-info">{{internship.status}}</span></label>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-12 col-md-6 col-lg-4">
              <label class="mr-2">Internship type: <span class="badge badge-info">{{internship.type}}</span></label>
            </div>
            <div *ngIf="internship.type === 'PAID'" class="col-12 col-md-6 col-lg-4">
              <div class="salary-field">
                <label class="mr-2">Salary: <span>{{internship.salary}} {{internship.currency}}</span></label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <label class="mr-2">Number of students: <span>{{internship.maxNumberOfStudents}}</span></label>
            </div>
          </div>
      
          <div class="row mb-2">
            <div class="col-12">
              <label>Details:</label>
              <p>{{internship.description}}</p>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-12">
              <button class="btn btn-primary" routerLink="/dashboard/final-reports/{{internship.trackingNumber}}">Final reports</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>