$primary_color: #0098a1;
$secondary_color: #014878;

.card-header {
  color: white;
  background-color: $primary_color;
  border: none;
}

.card-body {
  form {
    width: 100%;
  }

  .form-group {
    margin-bottom: 0.5rem;
  }

  .form-control {
    box-shadow: none;
    border-color: #ddd;
  }

  .form-control:focus {
    border-color: $primary_color;
  }

  .form-control,
  .btn {
    min-height: 40px;
    border-radius: 2px;
    transition: all 0.5s;
  }

  .btn {
    background: $primary_color;
    border: none;
    line-height: normal;
    width: 120px;
    
    &:focus {
      box-shadow: none;
    } 
  
    &:hover {
      background-color: $secondary_color;
    }
  }

  label {
    display: inline-block;
    margin-bottom: 0.1rem;
    font-size: 12px;
  }

  .error-message {
    color: red;
  }

  .left-item {
    padding-right: 1em!important;
  }

  .radio-button {
    cursor: pointer;
    background: white;
    color: #0098a1;
    border: 1px solid #0098a1;
    border-radius: 2px;
    padding: 0.1rem 0.3rem;
    font-size: 18px;

    &:hover, &:focus {
      background: #0098a1;
      color: white;
      outline: none;
    }
  }

  .active {
    background: #0098a1;
    color: white;
    outline: none;
  }

  .redirect-link {
    color: $primary_color;
  }
}

@media screen and (max-width: 768px) {
  .card {
    border:none;
  }
  .card-header {
    border-radius: 0;
  }

  .card-body {
    padding: 1.25rem 0;

    .left-item {
      padding-right: 0;
    }
  }
}