<div class="card">
  <h5 class="card-header">{{'DASHBOARD.FINAL_REPORTS_FOR_INTERNSHIP' | translate}}: <span *ngIf="internshipFinalReports">{{internshipFinalReports.internshipTitle}}</span></h5>

  <div class="card-body">
    <p *ngIf="internshipFinalReports && internshipFinalReports.finalReports && internshipFinalReports.finalReports.length == 0 else showFinalReports">{{'DASHBOARD.NO_FINAL_REPORTS' | translate}}</p>

    <ng-template #showFinalReports>
      <div *ngIf="internshipFinalReports">
        <div *ngFor="let finalReport of internshipFinalReports.finalReports | paginate: { itemsPerPage: 2, currentPage: pageNumber }">
          <div class="item mb-3">
            <div class="row">
              <div class="col-12 col-md-3 profile-image-container col-xl-2">
                <img class="profile-image" src="{{apiUrl}}/{{finalReport.internProfile.profileImageName}}" alt="intern">
              </div>
              <div class="col-12 col-md-9 col-xl-10 d-inline-flex">
                <div class="col-12 col-lg-6">
                  <p>{{'FINAL_REPORT.INTERN_REPORT_DETAILS' | translate}}:</p>
                  <div>
                    <label>{{'DASHBOARD.INTERN_NAMES' | translate}}:</label>
                    <p class="field">{{finalReport.internProfile.firstName}} {{finalReport.internProfile.lastName}}</p>
                  </div>
                  <div *ngIf="!finalReport.finalReportIntern">
                    <p>{{'FINAL_REPORT.FINAL_REPORT_NOT_SUBMITTED' | translate}}.</p>
                  </div>
                  <div *ngIf="finalReport.finalReportIntern">
                    <div >
                      <label>{{'FINAL_REPORT.FINAL_REPORT_FILE' | translate}}:</label>
                      <p class="field"><a class="redirect-link" href="{{apiUrl}}/{{finalReport.finalReportIntern.reportFileLocation}}">{{'FINAL_REPORT.DOWNLOAD_HERE' | translate}}</a></p>
                    </div>
                    <div>
                      <label>{{'FINAL_REPORT.REPORT_NOTES' | translate}}:</label>
                      <p class="field">{{finalReport.finalReportIntern.reportNotes}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <p>{{'FINAL_REPORT.EMPLOYER_REPORT_DETAILS' | translate}}:</p>
                  <div>
                    <label>{{'USER.COMPANY_NAME' | translate}}:</label>
                    <p class="field">{{internshipFinalReports.companyName}}</p>
                  </div>
                  <div *ngIf="!finalReport.finalReportEmployer">
                    <p>{{'FINAL_REPORT.FINAL_REPORT_NOT_SUBMITTED' | translate}}.</p>
                  </div>
                  <div *ngIf="finalReport.finalReportEmployer">
                    <div >
                      <label>{{'FINAL_REPORT.FINAL_REPORT_FILE' | translate}}:</label>
                      <p class="field"><a class="redirect-link" href="{{apiUrl}}/{{finalReport.finalReportEmployer.reportFileLocation}}">{{'FINAL_REPORT.DOWNLOAD_HERE' | translate}}</a></p>
                    </div>
                    <div>
                      <label>{{'FINAL_REPORT.REPORT_NOTES' | translate}}:</label>
                      <p class="field">{{finalReport.finalReportEmployer.reportNotes}}</p>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="text-center">
        <pagination-controls (pageChange)="pageNumber = $event" 
          previousLabel="" nextLabel="" maxSize="5"></pagination-controls>
      </div>
    </ng-template>
  </div>
</div>
  