@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

.page-wrapper.toggled .sidebar {
  left: -300px;
}

body {
  font-family: 'Montserrat';
  font-weight: 500;
}

/* 
 * Toastr custom class settings
 */
.toast-top-center {
  margin-top: 2em;
}

.ngx-toastr {
  font-size: 12px;
}

.toast-success {
  background-color: #0098a1;
}

/**
 * Datepicker custom settings
 */
.bs-datepicker-head {
  background-color: #0098a1!important;
}

.theme-green .bs-datepicker-body table td span.selected {
  background-color: #0098a1!important;
}

/**
 * Modal custom settings
 */
.modal-header {
  background: #0098a1;
  color: white;
}

.modal-title {
  font-size: 16px;
  padding-top: 0.3rem;
}

.modal-header .close {
  color: white;
  opacity: inherit;
  font-size: 2rem;
}

.modal-header .close:focus {
  outline: none;
}

/**
 * Pagination custom settings
 */
.ngx-pagination {
  padding: 0;
}

.ngx-pagination .current {
  background: #0098a1!important;
}

.ngx-pagination .pagination-previous, .pagination-next {
  font-size: 30px;
}