<div class="card">
  <h5 class="card-header">{{'DASHBOARD.PENDING_APPLICATIONS' | translate}}</h5>

  <div class="card-body">
    <p *ngIf="pendingApplications && pendingApplications.length == 0 else showPendingApplications">{{'DASHBOARD.NO_PENDING_APPLICATIONS' | translate}}</p>
    
    <ng-template #showPendingApplications>
      <div *ngFor="let pendingApplication of pendingApplications | paginate: { itemsPerPage: 2, currentPage: pageNumber }">
        <div class="item">
          <div class="row">
            <div class="col-12 col-xl-2 side-block">
              <div class="col-6 col-md-12 emp-container">
                <p class="text-center">{{pendingApplication.intern.firstName}} {{pendingApplication.intern.lastName}}</p>
                <img class="profile-image mb-3" src="{{apiUrl}}/{{pendingApplication.intern.profileImageName}}" alt="intern">
                <button class="btn btn-primary profile-button" (click)="openProfileModal(showProfileModal, pendingApplication.intern.email)">{{'USER.PROFILE' | translate}}</button>
              </div>
            </div>
            <div class="col-12 col-xl-10">
              <div class="row">
                <div class="col-12">
                  <label>{{'INTERNSHIP.INTERNSHIP' | translate}}:</label>
                  <p>{{pendingApplication.internshipDetails.title}}</p>
                </div>
              </div>
                
              <div class="row mb-2">
                <div class="col-12">
                  <label>{{'INTERNSHIP.DETAILS' | translate}}:</label>
                  <p>{{pendingApplication.details}}</p>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <button class="btn btn-primary mr-2" (click)="openAcceptModal(acceptApplicationModal, pendingApplication.trackingNumber)">{{'COMMON.ACCEPT' | translate}}</button>
                  <button class="btn btn-danger" (click)="openRejectModal(rejectApplicationModal, pendingApplication.trackingNumber)">{{'COMMON.REJECT' | translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
      <div class="text-center">
        <pagination-controls (pageChange)="pageNumber = $event" 
          previousLabel="" nextLabel="" maxSize="5"></pagination-controls>
      </div>
    </ng-template>
  </div>
</div>

<ng-template #showProfileModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'DASHBOARD.INTERN_DETAILS' | translate}}:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container" *ngIf="internDetails">
      <div class="col-12 col-lg-6">
        <div class="col-12">
          <label>{{'USER.NAMES' | translate}}:</label>
          <p>{{internDetails.userDetails.firstName}} {{internDetails.userDetails.lastName}}</p>
        </div>
        <div class="col-12">
          <img class="profile-image mb-3" src="{{apiUrl}}/{{internDetails.account.profileImageName}}" alt="intern">
        </div>
        <div class="col-12 d-inline-flex">
          <label>{{'USER.AGE' | translate}}:</label>
          <p>{{internDetails.userDetails.age}}</p>
        </div>
        <div class="col-12 d-inline-flex">
          <label>{{'USER.UNIVERSITY' | translate}}:</label>
          <p>{{internDetails.userDetails.university}}</p>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="col-12 d-inline-flex">
          <label>{{'USER.COURSE' | translate}}:</label>
          <p>{{internDetails.userDetails.course}}</p>
        </div>
        <div class="col-12 d-inline-flex">
          <label>{{'USER.START_DATE_OF_STUDYING' | translate}}:</label>
        <p>{{internDetails.userDetails.startDate | date:'yyyy' }}</p>
        </div>
        <div class="col-12 d-inline-flex">
          <label>{{'USER.PREVIOUS_EDUCATION' | translate}}:</label>
          <p>{{internDetails.userDetails.previousEducation}}</p>
        </div>
        <div class="col-12 d-inline-flex">
          <label>{{'USER.SKILLS' | translate}}:</label>
          <ul>
            <li *ngFor="let skill of internDetails.userDetails.skills">
              {{skill}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #acceptApplicationModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'APPLICATION.ACCEPT_APPLICATION' | translate}}:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="applicationResponseForm">
      <div class="col-12">
        <div class="form-group">
          <label *ngIf="!isInvalidFormControl(applicationResponseForm, 'responseNotes')">{{'APPLICATION.ACCEPTANCE_NOTES' | translate}}:</label>

          <div *ngIf="isInvalidFormControl(applicationResponseForm, 'responseNotes')">
            <label class="error-message" *ngIf="applicationResponseForm.controls['responseNotes'].errors.required">{{'VALIDATION.ACCEPTANCE_NOTES_REQUIRED' | translate}}</label>
          </div>

          <textarea [ngStyle]="isInvalidFormControl(applicationResponseForm, 'responseNotes') && {'border-color': '#ff0000'}" rows="8" class="form-control mb-2" 
          placeholder="{{'PLACEHOLDER.ENTER_DETAILS' | translate}}" formControlName="responseNotes"></textarea>
        </div>
        <button class="btn btn-primary float-right" (click)="applicationResponse(true)">{{'COMMON.SEND' | translate}}</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #rejectApplicationModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'APPLICATION.REJECT_APPLICATION' | translate}}:</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="applicationResponseForm">
      <div class="col-12">
        <div class="form-group">
          <label *ngIf="!isInvalidFormControl(applicationResponseForm, 'responseNotes')">{{'APPLICATION.REJECTION_NOTES' | translate}}:</label>

          <div *ngIf="isInvalidFormControl(applicationResponseForm, 'responseNotes')">
            <label class="error-message" *ngIf="applicationResponseForm.controls['responseNotes'].errors.required">{{'VALIDATION.REJECTION_NOTES_REQUIRED' | translate}}</label>
          </div>

          <textarea [ngStyle]="isInvalidFormControl(applicationResponseForm, 'responseNotes') && {'border-color': '#ff0000'}" rows="8" class="form-control mb-2" 
          placeholder="{{'PLACEHOLDER.ENTER_DETAILS' | translate}}" formControlName="responseNotes"></textarea>
        </div>
        <button class="btn btn-primary float-right" (click)="applicationResponse(false)">{{'COMMON.SEND' | translate}}</button>
      </div>
    </form>
  </div>
</ng-template>